<div class="Sort">
  <div class="Sort-part Sort-part--one">
    <select class="Sort-select" data-sorting="category">
      <option selected disabled>Role</option>
      <option value="all">All</option>
      <option value="design">Design</option>
      <option value="marketing">Marketing</option>
      <option value="development">Development</option>
    </select>
  </div>
  <div class="Sort-part Sort-part--two">
    <select class="Sort-select" data-sorting="location">
      <option selected disabled>Location</option>
      <option value="all">All</option>
      <option value="design">Design</option>
      <option value="design">Marketing</option>
      <option value="design">Development</option>
    </select>
  </div>
  <div class="Sort-part Sort-part--three">
    <span class="Sort-meta">Showing 30 of 90</span>
  </div>
</div>
