<div class="Sort">
  <div class="Sort-part">
    <select class="Sort-select">
      <option value="design">Design</option>
      <option value="design">Marketing</option>
      <option value="design">Development</option>
    </select>
  </div>
  <div class="Sort-part">
    <select class="Sort-select">
      <option value="design">Design</option>
      <option value="design">Marketing</option>
      <option value="design">Development</option>
    </select>
  </div>
  <div class="Sort-part">
    <select class="Sort-select">
      <option value="design">Design</option>
      <option value="design">Marketing</option>
      <option value="design">Development</option>
    </select>
  </div>
</div>
