<div class="Sort-shim">
  <div class="Sort">
    <div class="Sort-part Sort-part--one">
      <select class="Sort-select" data-sorting="category">
        <option selected disabled>Role</option>
        <option value="all">All</option>
        <option value="design">Design</option>
        <!-- <option value="marketing">Marketing</option> -->
        <option value="development">Development</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="Sort-part Sort-part--two">
      <select class="Sort-select" data-sorting="location">
        <option selected disabled>Location</option>
        <option value="all">All</option>
        <option value="Chester">Chester</option>
        <option value="London">London</option>
        <option value="Manchester">Manchester</option>
      </select>
    </div>
    <div class="Sort-part Sort-part--three">
      <span class="Sort-fullname">
        Show full job name?
        <input type="checkbox" name="toggle-full-name" id="toggle-full-name" class="Sort-toggle" checked/>
        <label for="toggle-full-name" class="Sort-toggle-label"></label>
      </span>
    </div>
  </div>
</div>
