<extends src="views/layout.html">
  <block name="content">

    <include src="views/partials/ProductHunt.html"></include>
    <include src="views/partials/Sort.html"></include>

    <each loop="job in anObject">
      <a href="{{job.url}}" class="Listing" data-location="{{job.location}}" data-category="{{job.category}}" data-title="{{job.title}}">
        <img class="Listing-image" src="{{job.logo}}">
        <div>
          <h3 class="Listing-title">{{job.title}}</h3>
          <h4 class="Listing-sub">{{job.company}} - {{job.location}}</h4>
        </div>
        <span class="Listing-link">Apply now</span>
      </a>
    </each>

  </block>
</extends>
