:root {
  --font-family-primary: 'Roboto Mono', monospace;
  --font-family-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

  --color-primary: #974dff;
  --color-secondary: #04b3ff;
  --color-copy: #868695;

  --border-width: 1.5px;

  --spacing-y: 20px;
  --spacing-x: 15px;
}
