.Callout {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  padding: 0 10px;
  background-color: #fff;
  background-image: url('../img/github-logo.svg');
  background-repeat: no-repeat;
  background-size: 38px 38px;
  background-position: calc(100% - 20px) center;
  text-decoration: none;
}

.Callout-copy {
  color: var(--color-bg);
  margin: 0;
  padding: 0;
}
