h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: 300;
  color: var(--color-copy);
  line-height: 1.4em;
}

@media screen and (min-width: 40em) {
  h2 {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 400;
}

p {
  color: var(--color-copy);
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 20px;
}
