.Input {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  height: 40px;
  padding: 0 20px;
  font-family: var(--font-family-primary);
  color: var(--color-primary);
}

.Input:focus {
  border: 1px solid #04b3ff;
  border-right: 0;
  outline: 0;
}

.Button {
  border: 0;
  height: 40px;
  font-family: var(--font-family-primary);
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: none;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Button:hover {
  box-shadow: 0 0 13px 0 #c5c9da;
}

.Button--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.Button--primary:hover {
  background-color: var(--color-primary);
}

.Button--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.Button--secondary:hover {
  color: #fff;
}
