.Listing {
  width: 100%;
  padding: 15px 0;
  margin: calc(var(--spacing-y) / 2) 0;
  display: block;
  text-decoration: none;
  color: var(--color-copy);
}

@media screen and (min-width: 40em) {
  .Listing {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: var(--spacing-y) 0;
  }
}

.Listing > div {
  padding-left: 40px;
}

@media screen and (min-width: 40em) {
  .Listing > div {
    flex-grow: 1;
    padding-left: 0;
  }
}

.Listing-image {
  margin-right: calc(var(--spacing-x) / 2);
  border-radius: 3px;
  width: 33px;
  height: 33px;
  float: left;
}

@media screen and (min-width: 40em) {
  .Listing-image {
    float: none;
    width: 43px;
    height: 43px;
    margin-right: var(--spacing-x);
  }
}

.Listing-title,
.Listing-sub {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-secondary);
}

.Listing-title {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3em;
}

@media screen and (min-width: 40em) {
  .Listing-title {
    font-size: 24px;
    line-height: 1.3em;
  }
}

.Listing-sub {
  font-size: 12px;
  font-weight: 400;
  opacity: .4;
  font-family: var(--font-family-primary);
}

@media screen and (min-width: 40em) {
  .Listing-sub {
    font-size: 15px;
  }
}

.Listing-link {
  text-align: right;
  color: var(--color-copy);
  font-size: 16px;
  text-decoration: none;
  flex-grow: none;
  display: none;
}

@media screen and (min-width: 40em) {
  .Listing-link {
    display: inline;
  }
}

.Listing:hover .Listing-link {
  color: var(--color-secondary);
}

.Listing-link:after {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../img/apply_arrow.svg') no-repeat center center / cover;
  transform: translateX(0);
  content: '';
  top: 2px;
  position: relative;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.Listing:hover .Listing-link:after {
  transform: translateX(5px);
  opacity: 1;
}

.Listing.is-hidden {
  display: none;
}
