.Sort {
  width: 100%;
  height: 38px;
  border-width: var(--border-width);
  border-style: solid;
  border-color: #974dff;
  border-image: linear-gradient(to right, #974dff, #04b3ff) 1;
  margin: var(--spacing-y) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Sort-part {
  border-right-width: var(--border-width);
  border-right-style: solid;
  padding: 0 var(--spacing-y);
}

.Sort-part--one {
  border-right-color: #686Cff;
  width: 35%;
}

.Sort-part--two {
  border-right-color: #1487ff;
  width: 35%;
}

.Sort-part--three {
  border-right: 0;
  width: 30%;
}

.Sort-select {
  appearance: none;
  width: 100%;
  height: 38px;
  background-color: transparent;
  background-image: url('../img/arrow_down.svg');
  background-position: right center;
  background-repeat: no-repeat;
  border: 0;
  color: #974dff;
  font-family: var(--font-family-primary);
}

.Sort-select:focus {
  outline: 0;
  border: 0;
}

.Sort-meta {
  color: #868695;
  font-size: 14px;
  font-family: var(--font-family-primary);
}
