:root {
  --toggle-bg: #303044;
  --toggle-checked: #04b3ff;
  --toggle-height: 18px;
  --toggle-width: 40px;
}

.Sort-shim {
  height: 92px;
  margin: var(--spacing-y) 0;
}

@media screen and (min-width: 40em) {
  .Sort-shim {
    height: 46px;
  }
}

.Sort {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 13px 0 #c5c9da;
}

.Sort.is-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 100%;
  max-width: 930px;
  margin-top: 0;
  border-radius: 0 0 4px 4px;
}

@media screen and (min-width: 40em) {
  .Sort {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.Sort-part {
  border-right-width: var(--border-width);
  border-right-style: solid;
  padding: 0 var(--spacing-y);
}

.Sort-part--one,
.Sort-part--two {
  width: 50%;
  float: left;
}

.Sort-part--one {
  border-right-color: #d3d7e4;
}

.Sort-part--two {
  border-right-color: transparent;
}

.Sort-part--three {
  border-right: 0;
  width: 100%;
  margin-top: 38px;
  height: 46px;
  border-top: 1px solid #d3d7e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 40em) {
  .Sort-part--one,
  .Sort-part--two {
    width: 25%;
  }

  .Sort-part--two {
    border-right-color: #d3d7e4;
  }

  .Sort-part--three {
    margin-top: 0;
    border-top: 0;
    justify-content: flex-end;
  }
}

.Sort-select {
  appearance: none;
  width: 100%;
  height: 46px;
  font-size: 14px;
  background-color: transparent;
  background-image: url('../img/chevron_down.svg');
  background-position: right center;
  background-repeat: no-repeat;
  border: 0;
  color: var(--color-primary);
  font-family: var(--font-family-primary);
}

.Sort-select:focus {
  outline: 0;
  border: 0;
}

.Sort-fullname {
  color: #868695;
  font-size: 12px;
  font-family: var(--font-family-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 40em) {
  .Sort-fullname {
    justify-content: flex-end;
  }
}

.Sort-toggle,
.Sort-toggle:active {
  display: none;
}

.Sort-toggle-label {
  display: block;
  position: relative;
  margin-left: 10px;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: 18px;
  background: var(--toggle-bg);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.Sort-toggle-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: var(--toggle-height);
  text-indent: calc(var(--toggle-height) + 5px);
  height: var(--toggle-height);
  width: var(--toggle-height);
  border-radius: 100%;
  top: 0;
  left: 0;
  right: auto;
  background: #fff;
  transition: all 200ms ease-in-out;
}

.Sort-toggle:checked + .Sort-toggle-label {
  box-shadow: inset 0 0 0 20px var(--toggle-checked);
}

.Sort-toggle:checked + .Sort-toggle-label:before {
  left: calc(100% - var(--toggle-height));
  box-shadow: 0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}

.Sort-toggle:checked + .Sort-toggle-label:after {
  color: rgba(19,191,17,1);
}
