.Subscribe {
  margin: var(--spacing-y) 0;
  padding: var(--spacing-y);
  border-color: var(--color-secondary);
  border-style: solid;
  border-width: var(--border-width);
}

.Subscribe-form {
  position: relative;
}

@media screen and (min-width: 40em) {
  .Subscribe-form {
    display: flex;
    flex: 1 0;
  }
}

.Subscribe-input {
  width: 100%;
  border-bottom: 0;
}

@media screen and (min-width: 40em) {
  .Subscribe-input {
    border-right: 0;
    flex: 1 0 0;
  }
}

.Subscribe-button {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .Subscribe-button {
    min-width: 220px;
  }
}
