h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

h2 {
  font-family: var(--font-family-secondary);
  font-size: 20px;
  font-weight: 300;
  color: #868695;
  line-height: 1.4em;
}


h4 {
  font-size: 20px;
  font-weight: 400;
}

p {
  color: var(--color-copy);
}
