<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="./favicon.png" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="./assets/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:600,400,300" rel="stylesheet">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@_juniorjobs" />
  <meta name="twitter:creator" content="@alexjpate" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="JuniorJobs is a list of entry level jobs in the tech industry. Updated daily! " />
  <meta name="twitter:image" content="https://juniorjobs.io/card.png" />

</head>
<body>
  <div class="container">
    {{> Header }}
    {{> Sort }}

    {{#each data.listings}}
      <a href="{{url}}" class="Listing" data-location="{{location}}" data-category="{{category}}" data-title="{{title}}">
        <img class="Listing-image" src="{{logo}}">
        <div>
          <h3 class="Listing-title">{{title}}</h3>
          <h4 class="Listing-sub">{{company}} - {{location}}</h4>
        </div>
        <span class="Listing-link">Apply now</span>
      </a>
    {{/each}}

    {{> Footer }}

    <script src="./assets/app.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93805829-1', 'auto');
      ga('send', 'pageview');

      let listings = document.querySelectorAll('.Listing');

      listings.forEach(function(element) {
        element.addEventListener('click', (ev) => {
          let listing = ev.target.closest('.Listing');
          let lTitle = listing.getAttribute('data-title');
          let lCategory = listing.getAttribute('data-category');
          ga('send', 'event', {
            eventCategory: 'Listing Link',
            eventAction: 'click',
            eventLabel: lTitle + ' in ' + lCategory,
            transport: 'beacon'
          });
        }, false);
      });

    </script>

  </div>
</body>
</html>
