<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="./favicon.png" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link href="./assets/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:600,400,300" rel="stylesheet">

</head>
<body>
  <div class="container">
    {{> Header }}
    {{> Sort }}

    {{#each data.listings}}
      <a href="{{url}}" class="Listing" data-location="{{location}}" data-category="{{category}}">
        <img class="Listing-image" src="{{logo}}">
        <div>
          <h3 class="Listing-title">{{title}}</h3>
          <h4 class="Listing-sub">{{company}} - {{location}}</h4>
        </div>
        <span class="Listing-link">Apply now</span>
      </a>
    {{/each}}

    {{> Subscribe }}
    {{> Footer }}

    <script src="./assets/app.js"></script>

  </div>
</body>
</html>
