<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link href="./assets/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,300" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header class="Header">
      <div class="Header-half">
        <h1 class="Header-title">Init(Career)</h1>
        <h2 class="Header-subtitle">Getting your first gig is tough work. To make it easier, here’s a list of some of the best entry-level jobs in the UK tech industry</h2>
      </div>
    </header>
    {{> Sort }}

    {{#each data.listings}}
      <section class="Listing" data-location="{{location}}" data-category="{{category}}">
        <div>
          <h3 class="Listing-title">{{title}}</h3>
          <h4 class="Listing-sub">{{company}} - {{location}}</h4>
        </div>
        <a href="{{url}}" class="Listing-link">Apply now</a>
      </section>
    {{/each}}

    <script src="./assets/app.js"></script>

  </div>
</body>
</html>
